GIN_MODE=release
APP_PORT=3001
JWT_KEY=xxxx 
JWT_EXPIRE=1
REFRESH_TOKEN_EXPIRE_DAYS=7
HMAC_SECRET=xxxx 

DB_USER=username
DB_PASSWORD=passsword
DB_HOST=localhost
DB_PORT=3306
DB_NAME=database_name
DB_IDLE_CONN=10
DB_MAX_OPEN_CONN=100

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
