APP_PORT=3001

#32 character secret key for JWT signing
JWT_KEY=xxxx 

#expired satuan jam
JWT_EXPIRE=1

#32 character secret key for HMAC signing
HMAC_SECRET=xxxx 

DB_USER=username
DB_PASSWORD=passsword
DB_HOST=localhost
DB_PORT=3306
DB_NAME=database_name
DB_IDLE_CONN=10
DB_MAX_OPEN_CONN=100

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

GIN_MODE=release